/* .toggle{
    margin-right: 10px;
    margin-left: 15px;
    font-size:90%;
}
mat-slide-toggle{
    margin-right: 10px;
    margin-left: 15px;
} */

/* .changestyle{
    background-color: black;
} */