<button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="activeStatus === 'De-Activate'" (click)="viewEmployee()">View</button>
  <button mat-menu-item  *ngIf="activeStatus === 'De-Activate'" (click)="openEditEmployee()">Edit</button>
  <!-- <span >Activate/Deactivate</span> -->
  <!-- <mat-slide-toggle value="right" aria-label="Text align right"></mat-slide-toggle> -->
  <button mat-menu-item (click)="toggleActivate()">{{activeStatus}}</button>
  <button mat-menu-item (click)="openDeleteDialog()">Delete</button>
</mat-menu>